In [5]:
import math
def vol(rad):
    pie=3.1432
    print((4/3)*pie*(rad**3))

In [6]:
vol(2)

33.52746666666667

In [18]:
def ran_check(num,low,high):
    count=0
    for i in range(low,high):
        if(i==num):
#             print('{} is in range of {},{}'.format(num,low,high))
            print(True)
            count+=1
            break
    if(count==0):
        print(False)
#         print('{} is not in range {},{}'.format(num,low,high))

In [19]:
ran_check(5,2,7)

True

In [20]:
ran_check(10,2,7)

False

In [25]:
str=input("Enter a string :")

Enter a string :Hello Mr. Rogers, how are you this fine Tuesday?

In [28]:
l_count=0
u_count=0
for i in str:
    if(i.islower()):
        l_count+=1
    elif(i.isupper()):
        u_count+=1
print(l_count,u_count)

33 4

In [31]:
def unique_list(lst):
    tem=set(lst)
    print(list(tem))

In [32]:
unique_list([1,2,2,3,3])

[1, 2, 3]

In [67]:
def palindrome(s):
    count=len(s)-1
    flag=False
    for i in range(len(s)//2):
        if(s[i]==s[count]):
            count-=1
        else:
            flag=True
            break
    if(flag==True):
        print("Not Palindrome")
    else:
        print('Palindrome')

In [68]:
palindrome('helleh')

Palindrome

In [69]:
palindrome('helloh')

Not Palindrome

In [3]:
l=[1,2,3]
l.remove(3)
print(l)

[1, 2]

In [4]:
x=input('Enter Two numbers and give space between:')

Enter Two numbers and give space between:10 20

In [11]:
num1=x.split(' ')[0]
num2=x.split(' ')[1]
print(type(num1))
print(int(num1)+int(num2))

<class 'str'>
30

In [17]:
def employee_check(data):
    count=0
    name=''
    for employee,hrs in data:
        if hrs>count:
            count=hrs
            name=employee
#     print("Employee of month is {}".format(name))
    return (name,count)

In [20]:
result=employee_check([('max',100),('john',50),('Emiley',300)])

In [21]:
result

('Emiley', 300)

In [22]:
x,y=employee_check([('max',100),('john',50),('Emiley',300)])

In [23]:
x,y

('Emiley', 300)

In [24]:
def check():
    number=''
    while number not in ['0','1','2','3','4','5','6','7','8','9','10']:
        number=input('Pick a number from 0-10 :')
    return number

In [25]:
check()

Pick a number from 0-10 :11
Pick a number from 0-10 :5

'5'

In [27]:
st='10'
print(int(st))

10

In [33]:
def rest_func(*args):
    '''
    Gives the output in the form of tuple
    '''
    print(args)

In [34]:
rest_func(10,20,30)

(10, 20, 30)

In [1]:
def kwargs(**args):
    print(args)

In [2]:
kwargs(name='john',age=53)

{'name': 'john', 'age': 53}

In [3]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        if(a>b):
            return b
        else:
            return a
    else:
        if(a>b):
            return a
        else:
            return b

In [4]:
lesser_of_two_evens(2,5)

5

In [5]:
lesser_of_two_evens(2,4)

2

In [10]:
def animal_crackers(text):
    split=text.split(' ')
    if split[0][0]==split[1][0]:
        return True
    else:
        return False

In [11]:
animal_crackers('Levelheaded Llama')

True

In [26]:
def old_macdonald(name):
    return name[0:3]+name[3].upper()+name[4:]

In [27]:
old_macdonald('macdonald')

'macDonald'

In [43]:
def master_yoda(text):
    split=text.split(' ')
    split.reverse()
    print(' '.join(split))

In [44]:
master_yoda('I am home')

home am I

In [45]:
def almost_there(n):
    return n in range(90,111) or n in range(190,211)

In [46]:
almost_there(111)

False

In [13]:
def has_33(nums):
    for i in range(len(nums)):
        if(i<len(nums)-1):
            if(nums[i]==nums[i+1]):
                return True
                break
        else:
            return False

In [14]:
has_33([1, 3, 3])

True

In [15]:
has_33([1, 3, 1, 3])

False

In [28]:
def paper_doll(text):
    x=''
    for i in list(text):
        x=x+i*3
    print(x)

In [29]:
paper_doll('Hello')

HHHeeellllllooo

In [30]:
def blackjack(a,b,c):
    if(a+b+c<22):
        return a+b+c
    elif(a+b+c>21 and 11 in (a,b,c)):
        x=a+b+c-10
        if(x<22):
            return x
    else:
        return 'BUST'

In [31]:
blackjack(5,6,7)

18

In [32]:
blackjack(9,9,9)

'BUST'

In [33]:
blackjack(9,9,11)

19

In [86]:
def summer_69(arr):
    six=0
    nine=0
    sum=0
    if 6 in arr and 9 in arr:
        six=arr.index(6)
        nine=arr.index(9)
    for j in range(six, nine+1):
        arr[j]=0
    for i in arr:
        sum=sum+i
    print(sum)

In [87]:
summer_69([1,2,3,6,8,9])

6

In [88]:
summer_69([1, 3, 5])

8

In [89]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [111]:
def spy_game(nums):
    flag=False
    for i in range(len(nums)-2):
        if nums[i]==0 and nums[i+1]==0 and nums[i+2]==7:
            flag=True
            break
    if flag:
        print(True)
    else:
        print(False)

In [112]:

spy_game([1,2,4,0,0,7,5])

True

In [113]:
spy_game([1,0,2,4,0,5,7])

False

In [172]:
def count_primes(num):
    for i in range(2,num+1):
        flag=False
        for j in range(2,i):
            if(i%j==0 and j>1):
#                 print(i,j)
                flag=True
                break
        if flag==False:
            print(i)

In [173]:
count_primes(10)

2
3
5
7

In [177]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [178]:
print_big('b')

****
*   *
****
*   *
****

In [2]:
import math
x=[10,20,30]
print(math.prod(x))

6000

In [40]:
def palindrome(str):
    flag=False
    for i in range(0,len(str)):
        if str[i]!=str[len(str)-i-1]:
            flag=True
            break
    if(flag):
        print("Not palindrome")
    else:
        print("palindrome")

In [43]:
x="hi"
for i in range(len(x)-1,-1,-1):
    print(i)
palindrome("Helleh")

1
0
Not palindrome